{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - E-commerce</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block extra_js %}{% endblock %}
  </head>
  <body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <nav>
      <ul>
        <a href="{% url 'registrera-användare' %}">Registrera konto</a>
        <li><a href="{% url 'product_list' %}">Produkter</a></li>
      </ul>
    </nav>
    {% include 'mini_cart.html' %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
      <p>© 2023 E-commerce. All rights reserved.</p>
    </footer>
  </body>
</html>